<div class="container-fluid">
    <div class="row">
        <form class="form">
            <div class="form-group">
                <label for="exampleFormControlInput1">Enter Binding (Event Filtering)</label>
                <!-- attribute binding with the condition on the UI (event filtering)-->
                <input class="form-control" (keyup.enter)="onkeyUpEvent($event)" placeholder="(keyup.enter)=onkeyUpEvent($event)" />
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Template Variable binding #email</label>
                <!-- binding with the variable #email = template variable -->
                <input #email class="form-control" (keyup.enter)="readVariable(email.value)" placeholder="(keyup.enter)=readVariable(email.value)" />
            </div>
            <!-- attribute binding -->
            <!-- <button id="save" class="btn btn-primary" [attr.disabled]="isButtonActive" (click)="onClick($event)">Save</button> -->
            <!-- click event -->
            <button id="save" class="btn btn-primary" (click)="onClick($event)">Save</button>
        </form>
    </div>
</div>